@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body,
html, * {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  margin: 35px 7% 20px;
  padding: 0;
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-left: 5px;
  color: transparent;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  width: 40%;
  background-size: contain;
}

header {
  margin-bottom: 47px;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}

.hero-image img {
  width: 96%;
  margin-left: 2%;
  max-width: 450px;
}

.hero-image {
  margin-bottom: 58px;
}

.hero-heading {
  font-size: 1.45em;
  font-weight: 700;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-blurb {
  text-align: center;
  max-width: 300px;
  margin: 0 auto 20px;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  opacity: 0.8;
}

.cta-btn {
  display: block;
  text-align: center;
  width: 210px;
  margin: 0 auto;
  /* max-width: 200px; */
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 25px;
  background-color: white;
  color: hsl(257, 40%, 49%);
  font-size: 13px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 3px 3px 8px purple;
  /* opacity: 0.8; */
}

.cta-btn:hover {
  background-color: #00bbfa;
  color: white;
  font-weight: 700;
}

.cta-btn:active {
  transform: scale(.97);
}

.social-links {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.social-links div {
  width: 27px;
  height: 27px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}

.social-links a {
  text-decoration: none;
  outline: none;
}

.social-links div:hover {
  border: 1px solid #00bbfa;
  cursor: pointer;
  color: #00bbfa;
}

.social-links div:hover i {
  color: #00bbfa;
}

.social-links a:not(:last-child) {
  margin-right: 12px;
}

.fab {
  padding-left: 5px;
  padding-top: 4px;
  color: white;
}

.fa-facebook-f {
  padding-left: 7px;
}

.fa-instagram {
  padding-left: 6px;
}

.fa-twitter {
  padding-top: 5px;
}