@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body,
html, * {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  margin: 35px 7% 20px;
  padding: 0;
  color: white;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url('../images/bg-desktop.svg');
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 4%;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-left: 5px;
  color: transparent;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  width: 40%;
  background-size: contain;
}

@media only screen and (min-width: 600px) {
  h1 {
    display: block;
    width: 210px;
    height: 100px;
    background-size: contain;
    margin-left: -5px;
  }
}

header {
  margin-bottom: 47px;
}

@media only screen and (min-width: 600px) {
  header {
    margin-bottom: 15px;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}

@media only screen and (min-width: 600px) {
  main {
    flex-direction: row;
    margin-bottom: 15px;
  }
}

.hero-image {
  margin-bottom: 58px;
  flex: 3;
}

@media only screen and (min-width: 600px) {
  .hero-image {
    margin-bottom: 0;
  }
}

.hero-image img {
  width: 96%;
  margin-left: 2%;
  max-width: 450px;
}

@media only screen and (min-width: 600px) {
  .hero-image img {
    max-width: 660px;
    height: 75vh;
    margin-left: 10px;
  }
}

.hero-text {
  flex: 2;
}

.hero-heading {
  font-size: 1.45em;
  font-weight: 700;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 15px;
}

@media only screen and (min-width: 600px) {
  .hero-heading {
    margin: 45px 80px 20px 10px;
    font-size: 2.3em;
    line-height: 1.45;
  }
}

.hero-blurb {
  text-align: center;
  max-width: 300px;
  margin: 0 auto 20px;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  opacity: 0.8;
}

@media only screen and (min-width: 600px) {
  .hero-blurb {
    margin-left: 10px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 600px) {
  .hero-heading, .hero-blurb {
    text-align: left;
    max-width: 460px;
  }
}

.cta-btn {
  display: block;
  text-align: center;
  width: 210px;
  margin: 0 auto;
  /* max-width: 200px; */
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 25px;
  background-color: white;
  color: hsl(257, 40%, 49%);
  font-size: 13px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 3px 3px 8px purple;
  /* opacity: 0.8; */
}

@media only screen and (min-width: 600px) {
  .cta-btn {
    margin-left: 10px;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
  }
}

.cta-btn:hover, .cta-btn:active {
  background-color: #00bbfa;
  color: white;
  font-weight: 700;
  box-shadow: 0px 0px 15px purple;
}

.cta-btn:active {
  transform: scale(.97);
  /* transform: translateX(10px); */
  transition: transform 300ms ease-in-out;
}

.social-links {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .social-links {
    justify-content: flex-end;
  }
}

.social-links div {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}

@media only screen and (min-width: 600px) {
  .social-links div {
    width: 40px;
    height: 40px;
  }
}

.social-links a {
  text-decoration: none;
  outline: none;
}

.social-links div:hover {
  border: 1px solid #00bbfa;
  cursor: pointer;
  color: #00bbfa;
}

.social-links div:hover i {
  color: #00bbfa;
}

.social-links a:not(:last-child) {
  margin-right: 12px;
}

.fab {
  /* padding-left: 5px; */
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .fab {
    padding-top: 10px;
  }
}

.fa-instagram {
  padding-top: 9px;
}

.fa-twitter {
  padding-top: 9px;
}

@media only screen and (min-width: 600px) {
  .fa-instagram, .fa-twitter {
    padding-top: 11px;
  }
}